body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  padding-bottom: 30rem;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container::before, .navbar .container::after {
  display: none;
}