body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  padding: 0 15px;
}

#root {
  padding-bottom: 30rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container::before, .navbar .container::after {
  display: none;
}

.btn-group {
  margin: 1rem 0;
}

.btn-toolbar > label.checkbox-inline {
  margin-left: 5px;
}

label.checkbox-inline {
  display: inline-flex;
  align-items: center;
  height: 45px;
}

label.checkbox-inline input[type=checkbox] {
  margin-top: 0;
}

.alert.show {
  opacity: 1;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.666666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333333333333%
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}